body {
  font-family: Geneva;
  color: black;
}

/* Style the navigation bar */
.topnav, .topnav a {
  /*float: right;*/
  position: relative;
  overflow: hidden;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: Optima;
  /*font-weight: bold;*/
}

/* Change the color of links on hover */
.topnav a:hover {
  color: grey;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Button that scrolls up to the top */
#return-to-top {
    position: fixed;
    bottom: 5%;
    right: 5%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/* Title image */
.titleimage {
  position: relative; 
  max-width: 80%;
  height: auto;
  margin: 0 auto;
}
.titleimage .img {
  overflow: hidden;
}

.heading {
  text-align: center; 
  color: black; 
  width: 100%; /* Full width */
  padding: 0px; /* Some padding */
  font-size: 1.5vw;
  font-family: Optima;
}
.heading .subheading {
  color: grey;
  font-family: Optima;
}
.text {
  text-align: justify; 
  margin-left: 20%;
  margin-right: 20%;
  font-size: 18px;
}
.text .firstsentence {
  font-weight:bold;
}
.text a {
  color: black;
}

/* blockquotes */
.quote {
  font-style: italic;
  /* text-align: center;
  margin-left: 3%;
  margin-right: 3%;*/
}

.quote .source {
  font-style: normal;
  font-weight: bold;
}

/* Visualisations */
.flourish-embed {
  position:relative;
  max-width:80%;
  height: auto;
  margin: 0 auto;
}

/* embeds */
.instagram-media {
  position: relative;
  margin: 0 auto;
}

/* images */
.jocelyn-image { 
  max-width:50%;
  float:left;
  padding-top:1%;
  padding-bottom:1%;
  padding-right:2%;
  padding-left:2%;
}
/*.image .img {
  overflow: hidden;
}*/

figcaption {
  font-size:14px;
  color: grey;
}
  
/* captions */
.caption {
  color:grey;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
