body {
  font-family: Geneva;
  color: black;
}

/* Style the navigation bar */
.topnav, .topnav a {
  float: right;
  overflow: hidden;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: Optima;
  /*font-weight: bold;*/
}

/* Change the color of links on hover */
.topnav a:hover {
  color: grey;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Title image */
.titleimage {
  position: relative; 
  width: 99%;
  padding: 10px;
}

.heading {
  text-align: center; 
  color: black; 
  width: 100%; /* Full width */
  padding: 5px; /* Some padding */
  font-size: 25px;
  font-family: Optima;
}
.heading .subheading {
  color: grey;
  font-family: Optima;
  padding: 0px;
}
.text {
  text-align: justify; 
  margin-left: 200px;
  margin-right: 200px;
  font-size: 18px;
}
.text .firstsentence {
  font-weight:bold;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}


